{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}


{% block content %}

    <div class="row" id="department_mappings">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Transaction Summary</h4>
                </div>
                <div class="card-body">

                    <div class="table-responsive">

                        {% render_table transaction_summary_table %}

                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block scripts %}

    <script>

        $(document).ready(function(){



        });

    </script>

{% endblock %}