{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div class="row">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">TRANSACTIONS ACTIVITY</h4>
                </div>
                <div id="container_clients_line" class="col-md-12">
                    <div class="loader-wrapper" id="area_spinner">
                        <div class="loader-container">
                            <div class="ball-beat loader-purple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}


{% block scripts %}

    <script>

        $(document).ready(function(){



        });

    </script>

{% endblock %}