{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row mb-1">
            </div>
            <div class="content-body">
                <!-- eCommerce statistic -->
                <div class="row" id="filters">

                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Filters</h4>
                            </div>

                            <div class="card-body">
                                <div class="card-body">

                                    {% if request.user.profile.location.location_type == "CTRY" %}
                                        <button type="button" class="btn btn-warning round width-200 buttonAnimation" id="btn_js">
                                            <i class="la la-home"></i> Jasper Server Analytics
                                        </button>

                                    {% endif %}

                                    <input type="text" id="map_data" value="{{ map_data }}" hidden/>
                                    <input type="text" id="location_data" value="{{ locations }}" hidden/>
                                    <input type="text" id="commodity_data" value="{{ query_health_commodities }}" hidden/>

                                    <div class="col-md-12">
                                        <div class="col-md-10 col-sm-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="col-md-6">
                                                        <h6>Location:</h6>

                                                        <select id="select_location" style="width:16em" multiple>
                                                        </select>

                                                        <br /><br />
                                                    </div>

                                                    <div class="col-md-6">
                                                        <h6>Health Commodity:</h6>
                                                        <select class="select_field_class" multiple="multiple" name="option" id="option">
                                                            <option value="">Enter the option</option>
                                                            {% for option in query_health_commodities %}
                                                                <option value="{{ option.id }}">{{ option.health_commodity_name }}</option>
                                                            {% endfor %}
                                                        </select>

                                                    </div><br />

                                                    <div class="col-md-6" style="display: inline-block">
                                                        <fieldset class="form-group">
                                                            <h6>Date From:</h6>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="ft-calendar"></i></span>
                                                                </div>
                                                                <input type="text" autocomplete="off" id="id_date_from" class="form-control dp-week-year" />
                                                            </div>
                                                        </fieldset>

                                                        <fieldset class="form-group">
                                                            <h6>Date To:</h6>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="ft-calendar"></i></span>
                                                                </div>
                                                                <input type="text" autocomplete="off" id="id_date_to" class="form-control dp-week-year" />
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                    <div class="col-md-8">
                                                        <button type="button" class="btn btn-primary round width-200 buttonAnimation" id="btn_filter" data-animation="pulse" data-toggle="modal" data-backdrop="static" data-target="#modalCategoryMapping">
                                                            <i class="la la-download"></i> Filter Dashboard
                                                        </button>
                                                    </div>
                                                    <div class="loader-wrapper" id="filter_spinner">
                                                        <div class="loader-container">
                                                            <div class="ball-beat loader-purple">
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                {% endif %}#}

                <div id="dashboard_elements">

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <h3 class="info">{{ query_total_commodities.count }}</h3>
                                                <h6>Total Commodities</h6>
                                            </div>
                                            <div>
                                                <i class="icon-drawer info font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                            <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">

                                                {% if request.user.profile.location.location_type == "FCT" %}

                                                    <h3 class="warning">1</h3>

                                                {% else %}

                                                    <h3 class="warning">{{ query_total_facilities.count }}</h3>

                                                {% endif %}

                                                <h6>Total Health Facilities Managed</h6>
                                            </div>
                                            <div>
                                                <i class="icon-home warning font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                            <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <h3 class="danger">{{ query_total_transactions.count }}</h3>
                                                <h6>Total Posted Transactions</h6>
                                            </div>
                                            <div>
                                                <i class="icon-bar-chart danger font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                            <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <h3 class="success">{{ query_transactions_current_month.count }}</h3>
                                                <h6>Posted Transactions in current month</h6>
                                            </div>
                                            <div>
                                                <i class="icon-calendar success font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                        <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                            <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ eCommerce statistic -->

                    <div class="row">
                        <div class="col-xl-12 col-12">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card pull-up">
                                        <div class="card-header bg-hexagons">
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>
                                        <div class="card-content collapse show bg-hexagons">
                                            <div class="card-body pt-0">

                                                <div id="container_months_of_stock" class="col-md-12" style="width: 2500px; height: 600px; margin: 0 auto">

                                                    <div class="loader-wrapper" id="months_of_stock_spinner">
                                                        <div class="loader-container">
                                                            <div class="ball-beat loader-purple">
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-12">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card pull-up">
                                        <div class="card-header bg-hexagons">
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>
                                        <div class="card-content collapse show bg-hexagons">
                                            <div class="card-body pt-0">

                                                <div id="container_area" class="col-md-12">

                                                    <div class="loader-wrapper" id="area_spinner">
                                                        <div class="loader-container">
                                                            <div class="ball-beat loader-purple">
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    {#                    <div class="row">#}
                    {#                        <div class="col-xl-12 col-12">#}
                    {#                            <div class="row">#}
                    {#                                <div class="col-md-12 col-12">#}
                    {#                                    <div class="card pull-up">#}
                    {#                                        <div class="card-header bg-hexagons">#}
                    {#                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>#}
                    {#                                        </div>#}
                    {#                                        <div class="card-content collapse show bg-hexagons">#}
                    {#                                            <div class="card-body pt-0">#}
                    {##}
                    {#                                                <div id="container_line" class="col-md-12">#}
                    {##}
                    {#                                                    <div class="loader-wrapper" id="spinner">#}
                    {#                                                        <div class="loader-container">#}
                    {#                                                            <div class="ball-beat loader-purple">#}
                    {#                                                                <div></div>#}
                    {#                                                                <div></div>#}
                    {#                                                                <div></div>#}
                    {#                                                            </div>#}
                    {#                                                        </div>#}
                    {#                                                    </div>#}
                    {##}
                    {#                                                </div>#}
                    {##}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}

                    <div class="row">
                        <div class="col-xl-12 col-12">
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="card pull-up">
                                        <div class="card-header bg-hexagons">
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>
                                        <div class="card-content collapse show bg-hexagons">
                                            <div class="card-body pt-0">

                                                <div id="container_bar" class="col-md-12" style="width: 2500px; height: 600px; margin: 0 auto">

                                                    <div class="loader-wrapper" id="bar_spinner">
                                                        <div class="loader-container">
                                                            <div class="ball-beat loader-purple">
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

{#                    {% if request.user.profile.location.location_type == "CTRY" or request.user.profile.location.location_type == "RGN" or request.user.profile.location.location_type == "DST" %}#}
{#                        <div class="row">#}
{#                            <div id="recent-sales" class="col-12 col-md-12">#}
{#                                <div class="card">#}
{#                                    <div class="card-header">#}
{#                                        <h4 class="card-title">Facility Ranking based on Transaction Posting this month</h4>#}
{#                                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>#}
{#                                        <div class="heading-elements">#}
{#                                            <ul class="list-inline mb-0">#}
{#                                                <li><a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right" href="{% url 'facility_ranking' %}">View all</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-content mt-1">#}
{#                                        <div class="table-responsive">#}
{#                                            <table id="facility_ranking" class="table table-hover table-xl mb-0">#}
{#                                                <thead>#}
{#                                                <tr>#}
{#                                                    <th class="border-top-0">Location</th>#}
{#                                                    <th class="border-top-0">Facility Type</th>#}
{#                                                    <th class="border-top-0">Transactions Posted</th>#}
{#                                                </tr>#}
{#                                                </thead>#}
{#                                                <tbody>#}
{##}
{#                                                {% for facility in count_location_transactions %}#}
{#                                                    <tr>#}
{#                                                        <td class="text-truncate">{{ facility.posting_schedule__health_commodity_balance__location__location_name }}</td>#}
{#                                                        <td>#}
{#                                                            <button type="button" class="btn btn-sm btn-outline-primary round">{{ facility.posting_schedule__health_commodity_balance__location__facility_type__facility_type_description }}</button>#}
{#                                                        </td>#}
{##}
{#                                                        <td class="text-truncate">{{ facility.count }}</td>#}
{#                                                    </tr>#}
{##}
{#                                                {% endfor %}#}
{##}
{#                                                </tbody>#}
{#                                            </table>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
                    <!--/ Total earning & Recent Sales  -->

                    {% if request.user.profile.location.location_type == "CTRY" or request.user.profile.location.location_type == "RGN"  %}
                        <!-- Analytics map based session -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card box-shadow-0">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div id="container_map" class="col-md-12" style="width: 2500px; height: 600px; margin: 0 auto">

                                                    <div class="loader-wrapper" id="map_spinner">
                                                        <div class="loader-container">
                                                            <div class="ball-beat loader-purple">
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/maps/highmaps.js"></script>
    <script src="http://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="{% static "app-assets/js/select2totree.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


    <script>

        $(document).ready(function(){

            $("#filter_spinner").hide();

            Highcharts.chart('container_months_of_stock', {
                chart: {
                    type: 'bar',
                    events: {
                        load: function (event) {

                            var availableRatio = this.series[0];

                            var availableRatios = availableRatio.data;

                            for (var i = 0; i < availableRatios.length; i++) {

                                var ratio = availableRatios[i].y;


                                if (ratio <= 0.5) {

                                    availableRatio.points[i].update({
                                        color: 'maroon'
                                    });
                                }
                                else{

                                    if (ratio <= 3){

                                        availableRatio.points[i].update({
                                            color: 'yellow'
                                        });
                                    }

                                    else{

                                        if (ratio <= 6)
                                        {

                                            availableRatio.points[i].update({
                                                color: 'green'
                                            });
                                        }

                                        else {

                                            availableRatio.points[i].update({
                                                color: 'blue'
                                            });
                                        }
                                    }


                                }

                            }

                        }
                    }
                },
                title: {
                    text: 'Months Of Stock'
                },
                xAxis: {
                    categories: [

                        {% for entry in aggregated_months_of_stock %}'{{ entry.health_commodity__health_commodity_name }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Months Of Stock',
                    data: [
                        {% for entry in aggregated_months_of_stock %}{{ entry.ratio }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],

                }
                ]


            });

            Highcharts.chart('container_bar', {
                chart: {
                    type: 'bar',
                },
                title: {
                    text: 'Average Stock On Hand vs Average Monthly Consumption Bar Chart'
                },
                xAxis: {
                    categories: [

                        {% for entry in aggregated_transactions %}'{{ entry.posting_schedule__health_commodity_balance__health_commodity__health_commodity_name }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Average Stock on Hand',
                    data: [
                        {% for entry in aggregated_transactions %}{{ entry.average }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'DodgerBlue'

                }
                    , {
                        name: 'Average Monthly Consumption',
                        data: [
                            {% for entry in aggregated_transactions %}{{ entry.average_consumption }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        ],
                        color: 'OliveDrab'
                    }
                ]


            });

            Highcharts.chart('container_area', {
                chart: {
                    type: 'areaspline',
                    events: {
                        load: function (event) {

                            var availableQty = this.series[0];
                            var consumedQty = this.series[1];

                            var availableQtys = availableQty.data;
                            var consumedQtys = availableQty.data;


                            for (var i = 0; i < availableQtys.length; i++) {
                                var theDataPoint = availableQtys[i].y;
                                var theCompDataPoint = consumedQtys[i].y;

                                var ratio = theDataPoint/theCompDataPoint;

                                if (0 > ratio <= 0.5) {
                                    availableQty.points[i].update({
                                        color: 'maroon'
                                    });
                                }
                                else{

                                    if (0.5 > ratio <= 3){

                                        availableQty.points[i].update({
                                            color: 'yellow'
                                        });
                                    }

                                    else{

                                        if (3 > ratio <= 6)
                                        {
                                            availableQty.points[i].update({
                                                color: 'green'
                                            });
                                        }

                                        else {

                                            availableQty.points[i].update({
                                                color: 'blue'
                                            });
                                        }
                                    }


                                }

                            }

                        }
                    }
                },
                title: {
                    text: 'Average Stock On Hand vs Average Monthly Consumption Area Spline Chart'
                },
                xAxis: {
                    categories: [

                        {% for entry in aggregated_transactions %}'{{ entry.posting_schedule__health_commodity_balance__health_commodity__health_commodity_name }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Average Stock on Hand',
                    data: [
                        {% for entry in aggregated_transactions %}{{ entry.average }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'DodgerBlue  '
                }
                    , {
                        name: 'Average Monthly Consumption',
                        data: [
                            {% for entry in aggregated_transactions %}{{ entry.average_consumption }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        ],
                        color: 'OliveDrab '
                    }

                ]


            });

            $("#btn_js").on("click", function()
            {

                var url = "{% url "get_jasper_server_instance" %}";

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {

                        window.open(data);


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {


                        swal("Error!", "Launching Jasper server failed.", "error");

                    }

                });

            });

            $.getJSON('{% static 'districts.geojson' %}', function (geojson) {

                var map_data = document.getElementById("map_data").value;

                // Initiate the chart
                Highcharts.mapChart('container_map', {
                    chart: {
                        map: geojson
                    },

                    title: {
                        text: 'Months Of Stock Of Facilities In Tanzanian Districts'
                    },

                    tooltip: {
                        formatter: function() {
                            return 'District Name: <b>' + this.point.properties.District_N + '</b><br/>' +
                                    'Calculated Ratio: <b>' + this.point.value + '</b><br/>'

                        }
                    },

                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },

                    colorAxis: {
                        {#                                tickPixelInterval: 100#}
                        dataClasses: [{
                            to: 0.5,
                            color: "maroon"
                        }, {
                            from: 0.5,
                            to: 3,
                            color: "yellow"
                        }, {
                            from: 3,
                            to: 6,
                            color: "green"
                        }, {
                            from: 6,
                            color: "blue"
                        }]
                    },

                    series: [{
                        data: JSON.parse(map_data),

                        keys: ['District_N', 'value'],
                        joinBy: 'District_N',
                        {#                                name: 'District_N',#}
                        states: {
                            hover: {
                                color: '#a4edba',
                            }
                        },
                        dataLabels: {
                            enabled: false,
                            format: '{point.properties.District_N}'
                        }
                    }]
                });


            });

            $("#btn_filter").on("click", function () {


                var locations = $('#select_location').val().toString();
                var commodities = $('.select_field_class').val().toString();
                var date_from = document.getElementById("id_date_from").value;
                var date_to = document.getElementById("id_date_to").value;

                var url = "{% url 'dashboard' %}";

                if (locations == "" && date_from == "" && date_to=="" && commodities == "")

                {
                    swal("Filters empty", "Please select a filter.", "warning");
                }

                else {

                    $("#filter_spinner").show();

                    $("#dashboard_elements").empty();

                    if (date_from != "" && date_to == "") {
                        swal("Date to Missing", "Date to cannot be empty when Date from has a value.", "warning");
                        $("#filter_spinner").hide();
                    }
                    else {
                        if ( new Date(date_to) < new Date(date_from)) {
                            swal("Wrong Date Range", "Please check date range entered.", "warning");
                            $("#filter_spinner").hide();
                        }
                        else {

                            $.ajax({
                                type: "POST",
                                url: url,
                                data: {
                                    locations: locations, date_from: date_from, date_to: date_to,commodities:commodities,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                                },

                                success: function (data) {


                                    $("#dashboard_elements").html(data);

                                    $("#filter_spinner").hide();

                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                    swal("Failed", "Failed to load Dashboard content.", "warning");

                                }
                            });

                        }
                    }
                }

            })


        });


        var location_data = JSON.parse(document.getElementById("location_data").value);

        $("#select_location").select2ToTree({treeData: {dataArr: location_data}, maximumSelectionLength: 100,
            placeholder: "Select Locations", allowClear: true
        });

        $('.select_field_class').select2( { placeholder: "Select Commodity", maximumSelectionSize: 100  } );


    </script>


{% endblock %}
