{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}
    <div class="row" id="clients">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div align="right" style="padding-right: 50px">
                        <a class="las la-file-excel la-3x" href="" id="id_export_xls"></a>
                    </div>
                    <h4 class="card-title">Household Themes</h4>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table id = "table" class = "table table-bordered">
                            <thead class = "alert-success">
                            <tr>
                                <th><b>Theme Name</b></th>
                                <th>FEMALE 10-14</th>
                                <th>FEMALE 15-19</th>
                                <th>FEMALE 20-24</th>
                                <th>FEMALE 25+</th>
                                <th>MALE 10-14</th>
                                <th>MALE 15-19</th>
                                <th>MALE 20-24</th>
                                <th>MALE 25+</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for x in household_array %}
                                <tr>
                                    <td>{{ x.method }}</td>

                                    <td align="center">{{ x.total_female_10_14 }}</td>
                                    <td align="center">{{ x.total_female_15_19 }}</td>
                                    <td align="center">{{ x.total_female_20_24 }}</td>
                                    <td align="center">{{ x.total_female_25_ }}</td>

                                    <td align="center">{{ x.total_male_10_14 }}</td>
                                    <td align="center">{{ x.total_male_15_19 }}</td>
                                    <td align="center">{{ x.total_male_20_24 }}</td>
                                    <td align="center">{{ x.total_male_25_ }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {% block scripts %}

        <script>

            $(document).ready(function(){

                $("#filter_spinner").hide();

                $("#btn_filter").on("click", function () {
                    $("#filter_spinner").show();

                    var date_from = document.getElementById("id_date_from").value;
                    var date_to = document.getElementById("id_date_to").value;
                    var location_id = document.getElementById("selected_location_id").value;
                    var url = "{% url 'filtered_methods' %}";

                    if (date_from == "" || date_to == "")
                    {
                        swal("Error!", "Filter(s) are empty.", "error");
                    }

                    else {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                date_from: date_from, date_to: date_to,location_id: location_id,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },

                            success: function (data) {

                                data = $.parseJSON(data);

                                if (data == '') {

                                    var tb = document.getElementById('table');
                                    while(tb.rows.length > 1) {
                                        tb.deleteRow(1);
                                    }
                                    swal("Empty!", "No records found.", "warning");
                                }
                                else {

                                    $.each(data, function (k, v) {

                                        $('#total_female_10_14').text(v.total_female_10_14);
                                        $('#total_female_15_19').text(v.total_female_15_19);
                                        $('#total_female_20_24').text(v.total_female_20_24);
                                        $('#total_female_25_').text(v.total_female_25_);

                                        $('#total_male_10_14').text(v.total_male_10_14);
                                        $('#total_male_15_19').text(v.total_male_15_19);
                                        $('#total_male_20_24').text(v.total_male_20_24);
                                        $('#total_male_25_').text(v.total_male_25_);

                                    });
                                }


                                $("#filter_spinner").hide();

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#filter_spinner").hide();
                                swal("Error!", "Operation Failed.", "error");

                            }
                        });
                    }


                });

                $("#id_export_xls").on("click", function () {

                    downloadExcel('HouseHoldThemes', 'table');


                });

                function downloadExcel(fileName, tableId){

                    let dataType = 'application/vnd.ms-excel';
                    let extension = '.xls';
                    let filename = fileName;

                    let base64 = function(s) {
                        return window.btoa(unescape(encodeURIComponent(s)))
                    };

                    let template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>';
                    let render = function(template, content) {
                        return template.replace(/{(\w+)}/g, function(m, p) { return content[p]; });
                    };

                    let tableElement = document.getElementById(''+tableId+'');

                    let tableExcel = render(template, {
                        worksheet: filename,
                        table: tableElement.innerHTML
                    });

                    filename = filename + extension;

                    if (navigator.msSaveOrOpenBlob)
                    {
                        let blob = new Blob(
                                [ '\ufeff', tableExcel ],
                                { type: dataType }
                        );

                        navigator.msSaveOrOpenBlob(blob, filename);
                    } else {
                        let downloadLink = document.createElement("a");

                        document.body.appendChild(downloadLink);

                        downloadLink.href = 'data:' + dataType + ';base64,' + base64(tableExcel);

                        downloadLink.download = filename;

                        downloadLink.click();
                    }
                }


            });

        </script>

    {% endblock %}

{% endblock %}

