{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="row" id="">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Location Management</h4>
                </div>

                <div class="card-body">

                    <div class="table-responsive">

                        {% render_table locations_table %}

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function() {

            $("#filter_spinner").hide();

        });

    </script>

{% endblock %}