{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}

    <div class="row">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">HOW LONG IT TOOK TO BE ATTENDED BY A SERVICE PROVIDER</h4>
                </div>
                <div id="container_wait_time" class="col-md-12">
                    <div class="loader-wrapper" id="area_spinner">
                        <div class="loader-container">
                            <div class="ball-beat loader-purple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">TIMES THE CLIENT TRIED TO COMPLETE THE REFERRAL</h4>
                </div>
                <div id="container_referral_attempts" class="col-md-12">
                    <div class="loader-wrapper" id="area_spinner">
                        <div class="loader-container">
                            <div class="ball-beat loader-purple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">REASONS FOR NOT GETTING SERVICES</h4>
                </div>
                <div id="container_reasons_not_getting_services" class="col-md-12">
                    <div class="loader-wrapper" id="area_spinner">
                        <div class="loader-container">
                            <div class="ball-beat loader-purple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">AMOUNT ASKED TO PAY FOR SERVICES</h4>
                </div>
                <div id="container_amount_asked_to_pay" class="col-md-12">
                    <div class="loader-wrapper" id="area_spinner">
                        <div class="loader-container">
                            <div class="ball-beat loader-purple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




{% endblock %}


{% block scripts %}

    <script>

        $(document).ready(function(){

                $("#filter_spinner").hide();

            Highcharts.chart('container_wait_time', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'WAIT TIME FOR SERVICE'
                },
                xAxis: {
                    categories: [

                        {% for entry in query_wait_time %}'{{ entry.how_long_it_took_to_be_attended_by_service_provider }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Number of People waited',
                    data: [
                        {% for entry in query_wait_time %}{{ entry.value }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'DodgerBlue'
                }],
                exporting: {
                    showTable: false
                }


            });

            Highcharts.chart('container_referral_attempts', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'REFERRAL COMPLETION ATTEMPTS BY CLIENTS'
                },
                xAxis: {
                    categories: [

                        {% for entry in query_attempts_complete %}'{{ entry.times_the_client_tried_to_complete_referral }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Number of referrals',
                    data: [
                        {% for entry in query_attempts_complete %}{{ entry.value }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'Olive'
                }],

                exporting: {
                    showTable: false
                }


            });

            Highcharts.chart('container_reasons_not_getting_services', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [

                        {% for entry in query_reason_not_getting_service %}'{{ entry.reasons_for_not_getting_services }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Number of People waited',
                    data: [
                        {% for entry in query_reason_not_getting_service %}{{ entry.value }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'Purple'
                }],

                exporting: {
                    showTable: false
                }



            });

            Highcharts.chart('container_amount_asked_to_pay', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [

                        {% for entry in query_amount_asked_to_pay %}'{{ entry.amount_asked_to_pay_for_services }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Number of People',
                    data: [
                        {% for entry in query_amount_asked_to_pay %}{{ entry.value }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'Orange'
                }],
                exporting: {
                    showTable: false
                }


            });


            $("#btn_filter").on("click", function () {

                    $("#filter_spinner").show();

                var date_from = document.getElementById("id_date_from").value;
                var date_to = document.getElementById("id_date_to").value;
                var location_id = document.getElementById("selected_location_id").value;

                var url = "{% url 'filter_citizen_report_summary' %}";

                if (date_from == "" || date_to == "" || location_id == "")
                {
                    swal("Empty Filter(s)!", "One or more filters are missing.", "warning");
                }

                else {
                    if (date_from > date_to)
                    {
                        swal("Error!", "Date From is greater than Date To", "error");
                    }

                    else {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                date_from: date_from, date_to: date_to, location_id: location_id,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },

                            success: function (data) {

                                data = $.parseJSON(data);

                                var query_wait_time = data['query_wait_time'];
                                var query_wait_time_categories = [];
                                var query_wait_time_values = [];

                                var query_attempts_complete = data['query_attempts_complete'];
                                var query_attempts_complete_categories = [];
                                var query_attempts_complete_values = [];

                                var query_reason_not_getting_service = data['query_reason_not_getting_service'];
                                var query_reason_not_getting_service_categories = [];
                                var query_reason_not_getting_service_values = [];

                                var query_amount_asked_to_pay = data['query_amount_asked_to_pay'];
                                var query_amount_asked_to_pay_categories = [];
                                var query_amount_asked_to_pay_values = [];


                                $.each(query_wait_time, function (k, v) {
                                    query_wait_time_categories.push(v.how_long_it_took_to_be_attended_by_service_provider);
                                    query_wait_time_values.push(v.value);
                                });

                                $.each(query_attempts_complete, function (k, v) {
                                    query_attempts_complete_categories.push(v.times_the_client_tried_to_complete_referral);
                                    query_attempts_complete_values.push(v.value);
                                });

                                $.each(query_reason_not_getting_service, function (k, v) {
                                    query_reason_not_getting_service_categories.push(v.reasons_for_not_getting_services);
                                    query_reason_not_getting_service_values.push(v.value);
                                });

                                $.each(query_amount_asked_to_pay, function (k, v) {
                                    query_amount_asked_to_pay_categories.push(v.amount_asked_to_pay_for_services);
                                    query_amount_asked_to_pay_values.push(v.value);
                                });

                                Highcharts.chart('container_wait_time', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'WAIT TIME FOR SERVICE'
                                    },
                                    xAxis: {
                                        categories: query_wait_time_categories
                                    },
                                    series: [{
                                        name: 'Number of People waited',
                                        data: query_wait_time_values,
                                        color: 'DodgerBlue'
                                    }],
                                    exporting: {
                                        showTable: false
                                    }


                                });

                                Highcharts.chart('container_referral_attempts', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'REFERRAL COMPLETION ATTEMPTS BY CLIENTS'
                                    },
                                    xAxis: {
                                        categories: query_attempts_complete_categories
                                    },
                                    series: [{
                                        name: 'Number of referrals',
                                        data: query_attempts_complete_values,
                                        color: 'Olive'
                                    }],

                                    exporting: {
                                        showTable: false
                                    }


                                });

                                Highcharts.chart('container_reasons_not_getting_services', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: query_reason_not_getting_service_categories
                                    },
                                    series: [{
                                        name: 'Number of People waited',
                                        data: query_reason_not_getting_service_values,
                                        color: 'Purple'
                                    }],

                                    exporting: {
                                        showTable: false
                                    }


                                });

                                Highcharts.chart('container_amount_asked_to_pay', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    xAxis: {
                                        categories: query_amount_asked_to_pay_categories
                                    },
                                    series: [{
                                        name: 'Number of People',
                                        data: query_amount_asked_to_pay_values,
                                        color: 'Orange'
                                    }],
                                    exporting: {
                                        showTable: false
                                    }


                                });

                                    $("#filter_spinner").hide();

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    $("#filter_spinner").hide();

                                swal("Error!", "Operation Failed.", "error");

                            }
                        });
                    }
                }


            });



        });

    </script>


{% endblock %}