{% extends 'base.html' %}


{% block content %}


    <div class="row">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">VISIT TYPES LINE GRAPH</h4>
                </div>
                <div id="container_line" class="col-md-12">
                    <div class="loader-wrapper" id="area_spinner">
                        <div class="loader-container">
                            <div class="ball-beat loader-purple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#        <div class="card-body">#}
        {#            <div class="card">#}
        {#                <div class="card-header">#}
        {#                    <h4 class="card-title">VISIT TYPES SUMMARY</h4>#}
        {#                </div>#}
        {##}
        {#                <table id = "table" class = "table table-bordered">#}
        {#                    <thead class = "alert-primary">#}
        {#                    <tr>#}
        {#                        <th>VISIT TYPE</th>#}
        {#                        <th>NUMBER OF VISITS</th>#}
        {##}
        {#                    </tr>#}
        {#                    </thead>#}
        {#                    <tbody>#}
        {#                    {% for x in query_followups %}#}
        {#                        <tr>#}
        {#                            <td align="center">{{ x.event_type }}</td>#}
        {#                            <td align="center">{{ x.value }}</td>#}
        {#                        </tr>#}
        {#                    {% endfor %}#}
        {#                    </tbody>#}
        {#                </table>#}
        {##}
        {##}
        {#            </div>#}
        {#        </div>#}
    </div>

{% endblock %}


{% block scripts %}

    <script>

        $(document).ready(function(){

            $("#filter_spinner").hide();

            Highcharts.chart('container_line', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Visit Types'
                },
                xAxis: {
                    categories: [

                        {% for entry in query_followups %}'{{ entry.event_type }} '{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                    name: 'Number of Referrals',
                    data: [
                        {% for entry in query_followups %}{{ entry.value }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    ],
                    color: 'DodgerBlue'
                }]


            });

            $("#btn_filter").on("click", function () {

                $("#filter_spinner").show();

                var date_from = document.getElementById("id_date_from").value;
                var date_to = document.getElementById("id_date_to").value;
                var location_id = document.getElementById("selected_location_id").value;

                var url = "{% url 'filter_visit_summary' %}";

                if (date_from == "" || date_to == "" || location_id == "")
                {
                    swal("Empty Filter(s)!", "One or more filters are missing.", "warning");
                }

                else {
                    if (date_from > date_to)
                    {
                        swal("Error!", "Date From is greater than Date To", "error");
                    }

                    else {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                date_from: date_from, date_to: date_to, location_id: location_id,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },

                            success: function (data) {

                                data = $.parseJSON(data);

                                var visit_data = data;
                                var visit_data_categories = [];
                                var visit_data_values = [];

                                $.each(visit_data, function (k, v) {
                                    visit_data_categories.push(v.event_type);
                                    visit_data_values.push(v.value);
                                });

                                Highcharts.chart('container_line', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: 'Visit Types'
                                    },
                                    xAxis: {
                                        categories: visit_data_categories
                                    },
                                    series: [{
                                        name: 'Number of Referrals',
                                        data: visit_data_values,
                                        color: 'DodgerBlue'
                                    }]


                                });

                                $("#filter_spinner").hide();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                $("#filter_spinner").hide();
                                swal("Error!", "Operation Failed.", "error");

                            }
                        });
                    }
                }


            });


        });

    </script>


{% endblock %}